/* TABLE DES STYLES */
/* ---------------- */
/* GLOBAL --------- */
/* HEADER --------- */
/* MAIN ----------- */
/* SECTION 1 ------ */
/* SECTION 2 ------ */
/* SECTION 3 ------ */
/* SECTION 4 ------ */
/* SECTION 5 ------ */
/* FOOTER --------- */
/* MQ XXXX -------- */
/* MQ XXX --------- */
/* ---------------- */

/* GLOBAL --------- */
* {
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Montserrat';
}

body {
    margin-right: 1rem;
    margin-left: 1rem;
}

/* HEADER --------- */
header {
    padding-top: 1.2rem;
    z-index: 30;

    nav {
        margin: 0.8rem auto 0 auto;
        max-width: 1400px;
        width: 100%;
        z-index: 2;
        display: flex;

        .brandName {
            float: left;
            margin-left: 0;

            a {
                color: #252B42;
                font-size: 1.7rem;
                line-height: 32px;
                font-weight: 700;
                text-decoration: none;
            }
        }

        ul:nth-of-type(1) {
            margin: auto auto 1.2rem 0;
            display: inline-flex;
            list-style: none;
            width: 50%;
    
            li {
                margin: 0.5rem 0.8rem;
    
                a {
                    padding: 1.2rem 0.5rem;
                    color: #737373;
                    line-height: 24px;
                    font-weight: 700;
                    text-decoration: none;
                }
            
            }
        }

        ul:nth-of-type(2) {
            margin: 0.2rem 10rem 1.2rem 0;
            display: inline-flex;
            list-style: none;
            width: fit-content;
    
            li {
                margin: 0.5rem 0.8rem;

                a {
                    padding: 1.2rem 1.5rem;
                    text-decoration: none;
                    font-weight: 700;
                }
    
                &:nth-of-type(1) a {
                    color: #96BB7C;
                }
    
                &:nth-of-type(2) a {
                    color: white;
                    background-color: #96BB7C;
                    border-radius: 5px;
                }
            }
        }
    }

    .sectionHeader:nth-of-type(1) {
        margin: 0 auto;
        max-width: 1400px;
        width: 100%;
        display: flex;

        .headerText {
            p {
                margin-left: 0;
                
                &:nth-of-type(1) {
                    font-size: 1.15rem;
                    color: #96BB7C;
                    line-height: 24px;
                    font-weight: 700;
                    width: fit-content;
                    margin-top: 9rem;
                }
    
                &:nth-of-type(2) {
                    font-size: 1.4rem;
                    color: #737373;
                    line-height: 30px;
                    font-weight: 400;
                    margin-top: 2.3rem;
                    width: fit-content;
                }
            }
    
            h1 {
                font-size: 4.15rem;
                color: #252B42;
                line-height: 80px;
                margin-top: 2.3rem;
                font-weight: 700;
                width: fit-content;
            }
    
            ul {
                margin-top: 3.8rem;
                display: inline-flex;
                list-style: none;
                width: fit-content;
    
                li {
                    margin-right: 1rem;
                    z-index: 3;
    
                    a {
                        padding: 1.1rem 2.85rem;
                        line-height: 22px;
                        text-decoration: none;
                        font-weight: 700;
                    }
    
                    &:nth-of-type(1) a {
                        color: white;
                        background-color: #96BB7C;
                        border-radius: 5px;
                    }
    
                    &:nth-of-type(2) a {
                        color: #96BB7C;
                        border: solid 1px #96BB7C;
                        border-radius: 5px;
                    }
                }
            }
        }
    
        .femmeHeader {
            width: 100%;
            height: 100%;
    
            img {
                float: right;
                width: 625.65px;
                height: 731.41px;
                margin-right: 3%;
            }
        }

        &:before {
            content: "";
            position: absolute;
            width: 73%;
            height: 680px;
            top: 92px;
            left: 0;
            background-color: #EFF8ED;
            z-index: -3;
        }
    
        &:after {
            content: "";
            position: absolute;
            width: 48%;
            height: 600px;
            top: 0;
            right: 0;
            background-color: #F6FAFF;
            border-bottom-left-radius: 130px;
            z-index: -2;
        }
    }

    .sectionHeader:nth-of-type(2) {
        margin: 0 auto;
        max-width: 1400px;
        width: 100%;

        .headerBoxes {
            display: flex;
            width: fit-content;
            height: 296px;
            margin-bottom: 4rem;
            position: relative;
            bottom: 90px;
    
            .firstBoxes {
                width: fit-content;
                flex-basis: 10%;
                background-color: white;
                filter: drop-shadow(0 0.75rem 0.4rem #00000012);
                padding: 2.8rem 3.2rem;
    
                img {
                    width: 67.5px;
                    height: 67.5px;
                    margin-bottom: 1rem;
                }
    
                h2 {
                    font-size: 1.7rem;
                    font-weight: 700;
                    line-height: 32px;
                    margin-bottom: 2.8rem;
                    position: relative;
    
                    &:after {
                        content: "";
                        position: absolute;
                        width: 50px;
                        height: 2px;
                        top: 50px;
                        left: 0;
                        background-color: #E74040;
                    }
                }
    
                p {
                    line-height: 20px;
                    margin-left: 0;
                }
            }
        }
    }
}

/* MAIN ----------- */
main {
    margin: 0 auto;
    width: 100%;

    /* SECTION 1 ------ */
    article.firstGroup {
        max-width: 1400px;
        width: 100%;
        display: flex;

        .kidPicture {
            width: 660px;
            height: 570px;
            margin-left: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .package {
            width: 25%;
            margin: auto 0 auto auto;

            h3 {
                font-size: 2.85rem;
                color: #252B42;
                font-weight: 700;
                line-height: 50px;
                margin-bottom: 3rem;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    width: 94px;
                    height: 7px;
                    top: -40px;
                    left: 0;
                    background-color: #E74040;
                }
            }

            p {
                color: #737373;
                margin-bottom: 2.5rem;
            }

            a {
                color: #96BB7C;
                font-weight: 700;
                line-height: 24px;
                text-decoration: none;
            }
        }
    }

    /* SECTION 2 ------ */
    article.secondGroup {
        max-width: 1400px;
        width: 100%;
        display: flex;
        margin-top: 24rem;

        .package {
            width: 35%;
            margin: auto auto auto 0;

            h3 {
                font-size: 2.85rem;
                color: #252B42;
                font-weight: 700;
                line-height: 50px;
                margin-bottom: 3rem;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    width: 94px;
                    height: 7px;
                    top: -40px;
                    left: 0;
                    background-color: #E74040;
                }
            }

            p {
                width: 65%;
                color: #737373;
                margin-bottom: 2.5rem;
                margin-left: 0;
            }

            a {
                color: #96BB7C;
                font-weight: 700;
                line-height: 24px;
                text-decoration: none;
            }
        }

        .videoPicture {
            width: 693px;
            height: 490px;
            margin-right: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    

    /* SECTION 3 ------ */
    article.videoList {
        max-width: 1400px;
        width: 100%;
        margin: 16rem auto 10rem auto;

        p {
            &:nth-of-type(1) {
                color: #96BB7C;
                font-weight: 700;
                line-height: 24px;
            }

            &:nth-of-type(2) {
                color: #737373;
                margin-top: 1.2rem;
            }
        }

        h3 {
            font-size: 2.85rem;
            color: #252B42;
            font-weight: 700;
            line-height: 50px;
            margin-top: 1.2rem;
        }
    }

    section:nth-of-type(1) {
        max-width: 1400px;
        display: flex;
        margin-bottom: 10rem;

        article.videoBlock {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
    
            .videoImage {
                margin-left: 0;
                height: 100%;
                position: relative;

                p {
                    position: absolute;
                    width: fit-content;
                    padding: 0.2rem 0.7rem;
                    background-color: #E74040;
                    border-radius: 3px;
                    color: white;
                    font-weight: 700;
                    line-height: 24px;
                    margin-left: 1.3rem;
                    margin-top: 1.4rem;
                    z-index: 1;
                }
    
                ul {
                    position: absolute;
                    margin: 0 0 3rem 2.1rem;
                    display: flex;
                    list-style: none;
                    width: fit-content;
                    bottom: 0;
                    z-index: 1;
                    
                    li {
                        margin: auto 0.4rem 0 0.4rem;
    
                        a {
                            font-size: 1.2rem;
                            color: black;
                            padding: 1rem;
                            background-color: white;
                            text-decoration: none;
                            border-radius: 100%;
                        }
    
                        &:nth-of-type(2) a {
                            padding: 1rem 0.9rem;
                        }
    
                        &:nth-of-type(3) a {
                            padding: 1rem 0.8rem;
                        }
                    }
                }
    
                .firstArticle {
                    float: left;
                    width: 238px;
                    height: 300px;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        z-index: -3;
                    }
                }
            }

            .videoText {
                width: fit-content;
                margin-left: 20px;
                margin-top: 2rem;

                p {
                    .textRating {
                        color: #96BB7C;
                        font-weight: 700;
                        line-height: 24px;
                    }

                    .linkRating a {
                        margin-left: 0.5rem;
                        font-size: 0.85rem;
                        color: white;
                        line-height: 16px;
                        text-decoration: none;
                        background-color: #2D4059;
                        border-radius: 20px;
                        padding: 0.5rem;
                    }

                    &:nth-of-type(2) {
                        margin: 0.7rem auto;
                        color: #737373;
                        padding-right: 9rem;
                    }

                    &:nth-of-type(3) {
                        margin: 0.7rem 0 1.3rem 0.2rem;

                        .firstPrice {
                            margin-top: 1rem;
                            font-size: 1.15rem;
                            color: #BDBDBD;
                            font-weight: 700;
                            line-height: 24px;
                        }
    
                        .secondPrice {
                            font-size: 1.15rem;
                            color: #FFAB71;
                            font-weight: 700;
                            line-height: 24px;
                        }
                    }

                }

                h3 {
                    margin-top: 0.7rem;
                    color: #252B42;
                    font-weight: 700;
                    line-height: 24px;
                }

                .divLink:nth-of-type(1) {
                    a {
                        margin-bottom: 0.7rem;
                        color: #737373;
                        font-weight: 700;
                        line-height: 24px;
                        text-decoration: none;

                        img {
                            width: 1rem;
                            height: 1rem;
                            margin-right: 1rem;
                        }
                    }
                }
                
                .divLink:nth-of-type(2) {
                    a {
                        color: #96BB7C;
                        font-weight: 700;
                        line-height: 24px;
                        padding: 0.5rem 1rem;
                        border: solid 1px #96BB7C;;
                        border-radius: 37px;
                        text-decoration: none;
                    }
                }
            }

            &:nth-of-type(2) {
                left: 310px;
            }

            &:nth-of-type(3) {
                left: 620px;
            }

            &:nth-of-type(4) {
                left: 930px;
            }
        }
    }


    /* SECTION 4 ------ */
    article.testimonials {
        max-width: 1400px;
        margin-bottom: 10rem;

        p {
            &:nth-of-type(1) {
                color: #96BB7C;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 1.8rem;
            }

            &:nth-of-type(2) {
                color: #737373;
            }
        }

        h3 {
            font-size: 3.6rem;
            color: #252B42;
            font-weight: 700;
            line-height: 40px;
            margin-bottom: 2rem;

        }
    }

    section:nth-of-type(2) {
        max-width: 1400px;
        display: flex;
        margin-bottom: 10rem;

        article.reginaMiles {
            text-align: center;
            width: 100%;

            img {
                height: 128px;
                object-fit: contain;
            }

            p:nth-of-type(1) {
                color: #737373;
                margin-top: 2rem;
            }

            p:nth-of-type(2) {
                font-size: 1.9rem;
                color: #F3CD03;
                margin-top: 1rem;
            }

            p:nth-of-type(3) {
                font-size: 1.15rem;
                color: #252B42;
                margin-top: 1rem;
                font-weight: 700;
                line-height: 24px;
            }

            p:nth-of-type(4) {
                color: #737373;
                margin-top: 0.3rem;
                font-weight: 700;
                line-height: 24px;
            }
        }
    }

    /* SECTION 5 ------ */
    section.theBackground {
        background-color: #FFF2F3;

        article.newsletter {
            max-width: 1400px;
            padding: 10rem 0;
            position: relative;
    
                p:nth-of-type(1) {
                    color: #96BB7C;
                    font-weight: 700;
                    line-height: 24px;
                    margin-bottom: 0.5rem;
                    text-align: center;
                }
    
                p:nth-of-type(2) {
                    margin-bottom: 9rem;
                    text-align: center;
                }
    
                h3 {
                    font-size: 1.8rem;
                    color: #252B42;
                    font-weight: 700;
                    line-height: 32px;
                    margin-bottom: 0.5rem;
                    text-align: center;
                }
    
                .inputs {
                    display: flex;
                    width: 55%;
    
                    input[type="email"] {
                        width: 40%;
                        color: #737373;
                        padding: 1rem;
                        left: 0;
                        border-radius: 5px 0 0 5px;
                        border-right: none;
                        flex: 6;
                    }
        
                    input[type="submit"] {
                        padding: 0.85rem;
                        border: none;
                        background-color: #96BB7C;
                        border-radius: 0 5px 5px 0;
                        color: white;
                        line-height: 28px;
                        z-index: 3;
                        flex: 1;
                    }
                }
        }
    }
}

/* FOOTER --------- */
footer {
    width: 100%;

    .footerList {
        max-width: 1400px;
        display: flex;
        padding: 5rem 0 4rem 0;

        .footerBlock {

            &:nth-of-type(1) {
                margin-right: 3rem;
            }

            &:nth-of-type(2) {
                margin-right: 4.5rem;
            }

            &:nth-of-type(3) {
                margin-right: 2.5rem;
            }

            &:nth-of-type(4) {
                margin-right: 4rem;
            }

            h4 {
                font-size: 1.15rem;
                color: #252B42;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 1rem;
            }

            ul {
                list-style: none;

                li {
                    margin-bottom: 0.7rem;

                    a {
                        color: #737373;
                        font-weight: 700;
                        line-height: 24px;
                        text-decoration: none;
                    }
                }
            }
        }

        .alignCenter {
            li {
                text-align: center;
            }
        }
    }

    section.sectionFooter {
        background-color: #FAFAFA;

        .bottomFooter {
            max-width: 1400px;
            width: 100%;
            padding: 2rem 0;
            position: relative;
            display: flex;
    
            p {
                color: #737373;
                font-weight: 700;
                line-height: 24px;
                margin-left: 0;
            }
    
            a {
                margin: 0;
    
                img {
                    float: right;
                    padding: 0 1rem;
                }
    
                &:nth-of-type(3) {
                    padding-top: 2px;
                }
            }
        }
    }
}