/* TABLE DES STYLES */
/* ---------------- */
/* GLOBAL --------- */
/* HEADER --------- */
/* MAIN ----------- */
/* ASIDE ---------- */
/* MQ 1203 -------- */
/* MQ 853 --------- */
/* ---------------- */
/* GLOBAL --------- */
* {
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  font-family: "Montserrat";
}

body {
  font-size: 0;
}

/* HEADER --------- */
header {
  padding-top: 1.2rem;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 3;
}
header nav {
  max-width: 1400px;
  width: 100%;
}
header nav ul {
  margin: auto 0 1.2rem 0rem;
  display: inline-flex;
  list-style: none;
}
header nav ul li {
  margin: 0.5rem 0 0.5rem 4.8rem;
}
header nav ul li a {
  padding: 1.2rem 1.5rem;
  color: #9F9F9F;
  text-decoration: none;
  line-height: 21px;
  font-weight: 500;
}
header nav ul li a:hover {
  color: black;
}
header nav ul li .active {
  color: black;
}
header nav .logoFloat {
  float: right;
  margin: 0.5rem 0;
}
header nav .logoFloat img {
  padding: 0 1.2rem;
}

.imageHeader {
  width: 100%;
  height: 336px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* MAIN ----------- */
main {
  color: black;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  display: flex;
  /* ASIDE ---------- */
}
main article {
  width: 85%;
  margin-top: 3rem;
  display: flex;
}
main article .texteArticle {
  padding: 0 2rem;
  width: 100%;
}
main article .texteArticle .dateTime p {
  color: #9F9F9F;
  margin-bottom: 0.5rem;
  font-size: 1.05rem;
  line-height: 23px;
  font-weight: 300;
}
main article .texteArticle h2 {
  font-family: "Cardo";
  font-size: 2.25rem;
  margin-bottom: 0.4rem;
  line-height: 41px;
  font-weight: 700;
}
main article .texteArticle p {
  text-align: justify;
  line-height: 30px;
  font-weight: 500;
}
main article img {
  float: left;
  border-bottom: solid 6px #D8D8D8;
  -o-object-fit: cover;
     object-fit: cover;
}
main article:nth-of-type(4) {
  margin-bottom: 3rem;
}
main aside {
  margin-left: 0;
  width: 100%;
  max-width: 350px;
  background-color: #FBFBFB;
}
main aside .category {
  margin-bottom: 2.5rem;
  padding: 1.4rem 3.8rem;
}
main aside .category h3 {
  font-size: 1.9rem;
  line-height: 40px;
  font-weight: 700;
}
main aside .category ul {
  list-style: none;
}
main aside .category ul li {
  margin: 1.5rem 0;
}
main aside .category ul li a {
  color: #9F9F9F;
  text-decoration: none;
  line-height: 23px;
  font-weight: 500;
}
main aside .category:nth-of-type(1) {
  margin-bottom: 0;
}
main aside hr {
  width: 70%;
  height: 2px;
  background-color: #C4C4C4;
  border-radius: 5px;
  border-color: #C4C4C4;
  margin: 0 3.8rem;
}

/* MQ 1203 ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 1203px) {
  /* HEADER --------- */
  header nav ul {
    margin-left: 1.5rem;
  }
  header nav ul li {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }

  .imageHeader img {
    height: 250px;
  }

  /* MAIN ----------- */
  main {
    max-width: 1203px;
    margin: 0 auto;
    flex-wrap: wrap;
    /* ASIDE ---------- */
  }
  main section {
    padding-bottom: 3rem;
  }
  main section article {
    width: 90%;
  }
  main section article .texteArticle {
    width: 100%;
  }
  main aside {
    display: flex;
    max-width: 100%;
    align-items: center;
    padding: 2rem 5%;
    position: relative;
  }
  main aside .category {
    margin-bottom: 0;
    margin-left: 4rem;
    padding: 1.4rem 1.5rem;
    flex: 1;
  }
  main aside hr {
    transform: rotate(90deg);
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 281px;
  }
}
/* MQ 853 ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 853px) {
  /* HEADER --------- */
  header {
    text-align: center;
    padding-bottom: 1.7rem;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    margin-left: 0;
  }
  header nav ul li {
    margin: 0.5rem;
  }
  header nav ul li a {
    padding: 0 0.3rem;
  }
  header nav .logoFloat {
    float: none;
    display: flex;
    width: 0;
    margin: 0 auto;
    justify-content: center;
  }
  header nav .logoFloat img {
    flex: 1;
  }

  .imageHeader {
    height: 136px;
  }

  /* MAIN ----------- */
  main {
    /* ASIDE ---------- */
  }
  main section {
    padding: 0 1rem 2rem 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  main section article {
    flex-wrap: wrap;
    max-width: 853px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 200px;
  }
  main section article .texteArticle {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    margin-top: 1rem;
  }
  main section article .texteArticle .dateTime {
    position: absolute;
    line-height: 12.5px;
    font-size: 0.7rem;
    bottom: 210px;
    right: 0;
  }
  main section article .texteArticle h2 {
    position: absolute;
    font-size: 1.1rem;
    bottom: 199px;
    left: 0;
  }
  main section article .texteArticle .textDesc {
    margin-bottom: 0;
    height: 120px;
  }
  main section article .texteArticle p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 1.5rem;
    font-size: 0.7rem;
    line-height: 16.5px;
  }
  main section article img {
    width: 100%;
    height: 108px;
    -o-object-fit: cover;
       object-fit: cover;
    border-bottom: none;
    float: none;
  }
  main aside {
    display: block;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0.26%, rgba(0, 0, 0, 0) 3.79%);
    margin-left: 0;
    margin-right: 0;
  }
  main aside .category {
    margin: 0;
  }
  main aside .category:nth-of-type(2) {
    padding-bottom: 0;
  }
  main aside .category h3 {
    margin-top: 0;
  }
  main aside .category:nth-of-type(2) h3 {
    padding-top: 2rem;
  }
  main aside hr {
    transform: rotate(180deg);
    width: 70%;
    height: 2px;
    background-color: #C4C4C4;
    border-radius: 5px;
    border-color: #C4C4C4;
    margin: 0 auto;
  }
}/*# sourceMappingURL=maquette1_style.css.map */